// $brand-color:rgb(240, 70, 93);
//  *{
// color: $brand-color
// }
body{
    background-color: #36064f;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;

}
.toolbar{
    background-color: #2a063d;
}