.home{
    background-image: url('./../../img/background.jpg');
    height: 100vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
 .homePage{
    padding-top: 100px;
    color: whitesmoke;

}
