.toolbar{
    background-color: #610746;
    color:white;

}
.port-button{
    display: none !important;
}
@media(max-width:360px){
    .port-button{
        color: white !important;
        display: inherit !important;
    }
    .nav-button{
        display: none !important;

    }
}