
@import '~bootstrap/scss/bootstrap.scss';

@import './base/base';
@import './components/home';
@import './components/background';
@import './components/navbar';


.img{
    height: 300px;
    width: 300px;
}
.contact-img{
    height: 50px;
    width: 50px; 
}





