// $brand-color:rgb(240, 70, 93);
//  *{
// color: $brand-color
// }
html {
    font-size: 62.5%;
  }

body{
    background-color: #29073b;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;

}
.toolbar{
    background-color: #610746;
    color:white;

}

.button{
    color: white;
    display: none;
}
@media(max-width:700px){
    .navbar{
        display: none;
    }
    .button{
        color: white;
        display: inherit;
    }
}